<div style="width: 100vw; height: 100%;">
  <div>
    <md-grid-list cols="40">
      <md-grid-tile
          [colspan]="7"
          [rowspan]="25"
          [style.background]="'white'">

          <div class="full">
            <md-grid-list cols="20">
              <md-grid-tile
                  [colspan]="20"
                  [rowspan]="5"
                  [style.background]="'#4a4a4a'">
                  <span class="logo">
                    AGW ADMIN
                  </span>
              </md-grid-tile>
              <md-grid-tile
                  [colspan]="20"
                  [rowspan]="3"
                  [style.background]="'ghostwhite'">
                  <span class="sub-title full"
                    fxLayoutAlign="start center">
                    <span style="margin-left: 10%;">Overview</span>
                  </span>
              </md-grid-tile>

              <md-grid-tile
                  [colspan]="20"
                  [rowspan]="100"
                  [style.background]="'white'">
                  <span class="actions full"
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    fxLayoutGap="20px">
                    <span *ngFor="let item of actions" class="item">
                      {{item.name}}
                    </span>
                  </span>
              </md-grid-tile>
            </md-grid-list>
          </div>

      </md-grid-tile>
      <md-grid-tile
          [colspan]="33"
          [rowspan]="25">
          <span class="full">
            <md-card style="height: 100%;" fxLayout="column">
              <span class="header"
              fxLayout="row"
              fxLayoutAlign="space-between center"
              >
                <span class="path"> Overview </span>

                <span class="search" fxLayoutAlign="space-between center">
                  <input placeholder="search" autocomplete="off" spellcheck="false" autocorrect="off" tabindex="1">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>

                <span class="right" fxLayout="row" fxLayoutAlign="center center">
                  <i class="fa fa-bell" aria-hidden="true" style="margin-right: 15px; color: gray"></i>
                  <span fxLayout="row">
                    <span class="u-item" fxLayoutAlign="center center"
                      style="font-size: 20px;"
                    >
                      <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                    <span class="u-item"
                      fxLayoutAlign="center center"
                      style="background-color: #e9e9e9;"
                    >
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </span>
                </span>
              </span>

              <div style="height: 80vh">
                <ngx-datatable
                  class="material fullscreen"
                  style="top: 52px; box-shadow: none; height: 80vh;"
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="0"
                  [rowHeight]="50"
                  [scrollbarV]="true"
                  [scrollbarH]="true"
                  [rows]="rows">
                  <ngx-datatable-column name="Request NO" prop="no" [width]="300"></ngx-datatable-column>
                  <ngx-datatable-column name="Type" prop="type" [width]="80"></ngx-datatable-column>
                  <ngx-datatable-column name="User ID" prop="userId" [width]="180"></ngx-datatable-column>
                  <ngx-datatable-column name="CCY" [width]="50"></ngx-datatable-column>
                  <ngx-datatable-column name="Amount" [width]="120"></ngx-datatable-column>
                  <ngx-datatable-column name="Date" [width]="120"></ngx-datatable-column>
                  <ngx-datatable-column name="Status" [width]="180">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
                    let-group="group">
                      <span *ngIf="value == 1">
                        <i style="color: #2196f3;" class="fa fa-flag" aria-hidden="true"></i>
                        <span style="margin-left: 10px;">Recevied Request</span>
                      </span>
                      <span *ngIf="value == 2">
                        <i style="color: #4caf50;" class="fa fa-flag" aria-hidden="true"></i>
                        <span style="margin-left: 10px;">Recevied Flat</span>
                      </span>
                      <span *ngIf="value == 3">
                        <i style="color: #8ac34a;" class="fa fa-circle" aria-hidden="true"></i>
                        <span style="margin-left: 10px;">Minting</span>
                      </span>
                      <span *ngIf="value == 4">
                        <i style="color: red;" class="fa fa-close" aria-hidden="true"></i>
                        <span style="margin-left: 10px;">Fail</span>
                      </span>
                      <span *ngIf="value == 5">
                        <i style="color: #8ac34a;" class="fa fa-check" aria-hidden="true"></i>
                        <span style="margin-left: 10px;">Minted</span>
                      </span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Action" >
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
                    let-group="group">

                    <span class="action-but">
                      <button *ngIf="value == 1" md-raised-button color="primary" > <span class="action" [routerLink]="['../mint-token']"> Mint </span></button>
                      <button *ngIf="value == 2" md-raised-button color="primary" > <span class="action" [routerLink]="['../verify-request']"> Check </span></button>
                      <button *ngIf="value == 3" md-raised-button color="primary" > <span class="action"> Retry </span></button>
                    </span>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>

              <div *ngIf="rows.length > 0" class="load-more" style=" text-align: center;">
                <button md-raised-button color="primary"> <span style="color: white;"> Load More </span></button>
              </div>

            </md-card>
          </span>

      </md-grid-tile>
    </md-grid-list>
  </div>
</div>
