.overview{
  color: black;
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
}


.full{
  width: 100%;
  height: 100%;
}

.logo{
  font-size: 1.5vw;
  color: white;
}

.sub-title{
  font-weight: 500;
  border-right: 1px solid gray;
}

.actions{
  border-right: 1px solid gray;
  .item{
    margin-left: 20%;

    &:first-of-type{
      margin-top: 20px;
    }
  }
}

.header{
  display: block;
  border: 1px solid #d8d8d8;
  border-right: none;
  border-left: none;
  border-top: none;
  height: 60px;
  width: 100%;
  .path{
    font-size: 1.5vw;
  }

  .search{
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    height: 80%;
    width: 40%;
    min-width: 200px;
    min-height: 35px;
    input{
      margin-left: 15px;
      border: none;
      font-size: 1.2vw;
      height: 90%;
      &:focus{
        outline: none;
      }
    }

    i{
      margin-right: 15px;;
    }
  }

  .right{
    i{
    }
  }
}

.u-item{
  display: block;
  width: 28px;
  height: 32px;
  border: 1px solid #e9e9e9;
}

.datatable-header .datatable-header-inner{
  border-bottom: 1px solid red;
}


.action-but .mat-raised-button, .mat-primary{
  background-color: #d8d8d8;
}

.load-more{
  width: 80%;
}

.load-more .mat-raised-button{
  position: absolute;
  margin-top: 80px;
  width: 10vw;
  min-width: 150px;
  background-color: #4a4a4a;
  color: white;
}
