.gateway-name{
  font-size: 2.5vw;
}


.account-connect{
  font-size: 1.2vw;
  width: 15vw;
  height: 20vw;
  margin-top: 10vh;
  margin-right: 5vw;
  float: right;
  background-color: #d8d8d8;
}


.dasboard-content{
  width: 100%;
  border: 2px solid #000;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  height: 100%;

  .title{
    display: block;
    margin-top: 3vh;
    font-size: 2vw;
  }

  .content{
    margin-top: 8vh;
    .item{
      .img{
        width: 4.5vw;
        height: 4.5vw;
        background-color: #d8d8d8;
        border-radius: 50%;
        font-size: 1.5vw;
      }

      span{
        font-size: 2vw;
      }
    }
  }
}

.mat-raised-button, .mat-primary, .depost-but{
  background-color: #4a4a4a;
  width: 1.5vw;
  min-width: 88px;

  .action{
    color: white;
  }
}

.token{
   width: 100%;
   height: 5vw;
   border: 1px solid #000;
   border-left: 0;
   border-right: 0;

   &:first-of-type{
     border-top: 2px solid #000;
   }

   &:last-of-type{
     border-bottom: 2px solid #000;
   }
}

.token-item{
  width: 100%;
  margin-top: 8px;

  .title{
    width: 100%;
    margin-top: 0;
    margin-top: 5px;
    display: block;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,.2);

    .left{
      display: block;
      margin-left: 20px;
    }
    .right{
      display: block;
      margin-right: 20px;
    }

    .request-no{
      font-size: 1.2vw;
    }

    .date{
      font-size: 12px;
      color: gray;
    }

    .status{
      font-size: 1.2vw;
    }
  }

  .content{
    width: 90%;

    .ctitle{
      font-size: 1.2vw;
      color: gray;
    }

    .value{
      font-size: 1.2vw;
      font-weight: 500;
    }
  }
}

.part1{
  width: 100%;
  height: 100%;

  .title{
    font-size: 1.3vw;
    font-weight: 500;
  }

  .sub-title{
    .date{
      font-size: 12px;
      color: gray;
      margin-left: 10px;
    }
  }

  .img{
    display: block;
    margin-top: 10px;
  }
}

.buts{
  .but{
    display: inline-block;
    font-size: 22px;
    color: #d8d8d8;
    background-color: #f8fafc;
    width: 3.2vw;
    height: 2.5vw;
    text-align: center;
  }
}

.mint-title{
  display: block;
  font-size: 1.3vw;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
}
