<md-card style="width: 80vw; height: 100%;">
  <div>
    <md-grid-list cols="16">
      <md-grid-tile
          [colspan]="4"
          [rowspan]="4">
          <span fxLayout="column" fxLayoutAlign="center center">
            <div style="width: 6vw; height: 6vw; border: 1px solid #d8d8d8;background-color: #d8d8d8;border-radius: 50%; "></div>
            <div style="display: inline-block; position: relative;width: 90%; margin-top: 15px;">
              <div fxLayout="row">
                <span class="name"> Name: </span>
                <span class="value"> &nbsp;&nbsp;AnXing</span>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <span class="name"> Address: </span>
                <span class="value" fxFlex style="display: inline-block;width: 60%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                    &nbsp;&nbsp; 0x90E4bE5C2D4970a8</span>
              </div>
            </div>
          </span>
      </md-grid-tile>
      <md-grid-tile
          [colspan]="12"
          [rowspan]="12">
          <md-card class="dasboard-content">

            <md-grid-list cols="10">
              <md-grid-tile
                  [colspan]="10"
                  [rowspan]="4">

                  <span class="part1">
                    <span class="title">
                      USDT/ETH
                    </span>
                    <span class="sub-title" fxLayoutAlign="space-between center">
                      <span class="date">
                        12 Jan 2018
                      </span>
                      <span class="buts">
                        <div class="but"> <i style="z-index: 1000;"class="fa fa-angle-left" aria-hidden="true"></i></div>
                        <div class="but"> <i style="z-index: 1000;"class="fa fa-angle-right" aria-hidden="true"></i></div>
                      </span>
                    </span>
                    <span class="img">
                      <img src="assets/images/status.png" alt="">
                    </span>

                  </span>

              </md-grid-tile>
              <md-grid-tile
                  [colspan]="10"
                  [rowspan]="5">

                  <span style="width: 100%; height: 100%;">
                    <span class="mint-title">MINT REQUEST</span>

                    <md-radio-group [(ngModel)]="radioValue">
                      <span *ngFor="let item of records; let iIndex = index;" class="token-item" fxLayout="column" fxLayoutAlign="center center" style="border: 1px solid gray;">
                        <div  class="title" fxLayout="row"  fxLayoutAlign="space-between center" (click)="recordClick(iIndex)">
                            <span fxLayout="row"  fxLayoutAlign="center center" class="left">
                              <md-radio-button [value]="'md-radio-' + iIndex"></md-radio-button>
                              <span fxLayoutGap="0vw" fxLayout="column" fxLayoutAlign="center start" style="margin-left: 20px;">
                                <div class="request-no"> Request No: {{item.no}} </div>
                                <span class="date">{{item.date}}</span>
                              </span>
                            </span>
                            <span fxLayoutGap="20px" class="right">
                                <span class="status">{{item.status}}</span>
                                <i *ngIf="selectIndex == iIndex"class="fa fa-angle-up" aria-hidden="true"></i>
                                <i *ngIf="selectIndex != iIndex" class="fa fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="content" fxLayout="row" fxLayoutAlign="space-between center" style="margin: 0 auto; height: 8vw;"
                          [style.display]="selectIndex == iIndex ? 'flex' : 'none'"
                        >
                          <span fxFlex="49" fxLayout="column" fxLayoutAlign="center start" style="margin-left: 20px;">
                            <span fxLayout="row" fxLayoutAlign="space-between start" style="width: 100%;">
                              <div fxFlex="40" class="ctitle">CURRENCY</div>
                              <div fxFlex="60" class="value">{{item.currency}}</div>
                            </span>
                            <span fxLayout="row" fxLayoutAlign="space-between start" style="width: 100%;">
                              <div fxFlex="40" class="ctitle">AMOUNT</div>
                              <div fxFlex="60" class="value">{{item.amount}}</div>
                            </span>
                            <span fxLayout="row" fxLayoutAlign="space-between start" style="width: 100%;">
                              <div fxFlex="40" class="ctitle">BANK</div>
                              <div fxFlex="60" class="value">{{item.bank}}</div>
                            </span>
                          </span>
                          <div fxFlex="2" style="height: 70%;border-right: 1px solid #d8d8d8; display: block">
                          </div>
                          <span fxFlex="49" fxLayout="row" fxLayoutAlign="center start" style="height: 100%;">
                            <span fxLayout="column" fxLayoutAlign="center start" style="margin-left: 10%;width: 90%;">
                              <span><br></span>
                              <span fxLayout="row" fxLayoutAlign="space-between start" style="width: 100%;">
                                <div fxFlex="35" class="ctitle">TOKEN</div>
                                <div fxFlex="65" class="value">{{item.token}}</div>
                              </span>
                              <span fxLayout="row" fxLayoutAlign="space-between start" style="width: 100%;">
                                <div fxFlex="35" class="ctitle">CODE</div>
                                <div fxFlex="65" class="value">{{item.code}}</div>
                              </span>
                            </span>
                          </span>
                        </div>

                      </span>
                    </md-radio-group>
                  </span>
              </md-grid-tile>
              <md-grid-tile
                  [colspan]="10"
                  [rowspan]="1">
                  <span fxLayout="row" fxLayoutGap="5vw" fxLayoutAlign="center end" style="width: 100%; height: 100%;">
                    <span [routerLink]="['submit']"
                      fxLayout="column" fxLayoutAlign="center center"
                    style="display: block;">
                      <button md-raised-button color="primary" > <span class="action"> Mint </span></button>
                    </span>
                    <span [routerLink]="['deposit']"
                      fxLayout="column" fxLayoutAlign="center center"
                    style="display: block;">
                      <button md-raised-button color="primary" > <span class="action"> Redeem </span></button>
                    </span>
                    <span [routerLink]="['deposit']"
                      fxLayout="column" fxLayoutAlign="center center"
                    style="display: block;">
                      <button md-raised-button color="primary" > <span class="action"> Transfer </span></button>
                    </span>
                  </span>
              </md-grid-tile>
            </md-grid-list>



          </md-card>
      </md-grid-tile>

      <md-grid-tile
          [colspan]="4"
          [rowspan]="8">
          <div fxLayout="column" fxLayoutAlign="start center" style="width: 100%; height: 100%; ">
          <div class="token" *ngFor="let token of tokenLists" fxLayout="row" fxLayoutAlign="space-between center">
            <span fxLayoutAlign="center center" fxLayoutGap="10px" style="margin-left: 3%;">
              <div style="width: 2.7vw;height: 2.7vw; background-color: #d8d8d8; border-radius: 50%;display: inline-block;"></div>
              <span style="font-size: 1.1vw;">{{token.name}}</span>
            </span>
            <span  style="line-height: 3vw; margin-right: 10%;">
              {{token.amount}}
            </span>
          </div>

        </div>
      </md-grid-tile>
    </md-grid-list>
  </div>

  <div *ngIf="!authService.isLoggedIn">
    <div  fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="1vw">
      <span></span>
      <span></span>

      <span class="gateway-name">
        <header>
          <span [routerLink]="['../detail']">Gateway A</span>
        </header>
      </span>
    </div>
    <md-card  class="account-connect" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2vw">
        <span [routerLink]="['../../account/register']">Sign Up</span>
        <span [routerLink]="['../../account/login']">Sign In</span>
      </div>
    </md-card>
  </div>
</md-card>
