<md-card style="width: 80vw; height: 100%;">
  <div>
    <md-grid-list cols="16">
      <md-grid-tile
          [colspan]="4"
          [rowspan]="4">
          <span fxLayout="column" fxLayoutAlign="center center">
            <div style="width: 6vw; height: 6vw; border: 1px solid #d8d8d8;background-color: #d8d8d8;border-radius: 50%; "></div>
            <div style="display: inline-block; position: relative;width: 90%; margin-top: 15px;">
              <div fxLayout="row">
                <span class="name"> Name: </span>
                <span class="value"> &nbsp;&nbsp;AnXing</span>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <span class="name"> Address: </span>
                <span class="value" fxFlex style="display: inline-block;width: 60%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                    &nbsp;&nbsp; 0x90E4bE5C2D4970a8</span>
              </div>
            </div>
          </span>
      </md-grid-tile>
      <md-grid-tile
          [colspan]="12"
          [rowspan]="12">
          <md-card class="dasboard-content">
            <span class="title">Mint Token</span>
            <span class="content" fxLayout="column" fxLayoutAlign="center center">
              <span class="steps" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8vw">
                <div class="item" fxLayout="column" fxLayoutAlign="center center">
                  <div class="img" fxLayoutAlign="center center">1</div>
                  <span> Submit</span>
                </div>
                <div class="item" fxLayout="column" fxLayoutAlign="center center">
                  <div class="img" fxLayoutAlign="center center">2</div>
                  <span> Deposit</span>
                </div>
                <div class="item" fxLayout="column" fxLayoutAlign="center center">
                  <div class="img" fxLayoutAlign="center center">3</div>
                  <span> Mint</span>
                </div>
              </span>
            </span>

            <span fxLayout="column" fxLayoutAlign="center center">
              <span style="margin-top: 20vh; font-size: 2vw;" fxLayout="column" fxLayoutAlign="space-between start">
                <span style="width: 35vw;">
                  Our Admin is verify and approval your requests, please wait a moment!
                </span>
              </span>
            </span>


          </md-card>
      </md-grid-tile>
      <md-grid-tile
          [colspan]="4"
          [rowspan]="8">
          <div fxLayout="column" fxLayoutAlign="start center" style="width: 100%; height: 100%; ">
          <div class="token" *ngFor="let token of tokenLists" fxLayout="row" fxLayoutAlign="space-between center">
            <span fxLayoutAlign="center center" fxLayoutGap="10px" style="margin-left: 3%;">
              <div style="width: 2.7vw;height: 2.7vw; background-color: #d8d8d8; border-radius: 50%;display: inline-block;"></div>
              <span style="font-size: 1.1vw;">{{token.name}}</span>
            </span>
            <span  style="line-height: 3vw; margin-right: 10%;">
              {{token.amount}}
            </span>
          </div>

        </div>
      </md-grid-tile>
    </md-grid-list>
  </div>

  <div *ngIf="!authService.isLoggedIn">
    <div  fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="1vw">
      <span></span>
      <span></span>

      <span class="gateway-name">
        <header>
          <span [routerLink]="['../detail']">Gateway A</span>
        </header>
      </span>
    </div>
    <md-card  class="account-connect" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2vw">
        <span [routerLink]="['../../account/register']">Sign Up</span>
        <span [routerLink]="['../../account/login']">Sign In</span>
      </div>
    </md-card>
  </div>
</md-card>
