.gateway-name{
  font-size: 2.5vw;
}


.account-connect{
  font-size: 1.2vw;
  width: 15vw;
  height: 20vw;
  margin-top: 10vh;
  margin-right: 5vw;
  float: right;
  background-color: #d8d8d8;
}


.dasboard-content{
  width: 100%;
  border: 2px solid #000;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  height: 100%;

  .title{
    display: block;
    margin-top: 3vh;
    font-size: 2vw;
  }

  .content{
    margin-top: 8vh;
    .item{
      .img{
        width: 4.5vw;
        height: 4.5vw;
        background-color: #d8d8d8;
        border-radius: 50%;
        font-size: 1.5vw;
      }

      span{
        font-size: 2vw;
      }
    }
  }
}

.mat-raised-button, .mat-primary, .depost-but{
  background-color: #4a4a4a;
  font-size: 1.3vw;
  width: 14vw;
  height: 3.5vw;
  min-width: 150px;
  min-height: 35px;

  .action{
    color: white;
  }
}


.token{
   width: 100%;
   height: 5vw;
   border: 1px solid #000;
   border-left: 0;
   border-right: 0;

   &:first-of-type{
     border-top: 2px solid #000;
   }

   &:last-of-type{
     border-bottom: 2px solid #000;
   }
}
