<div style="width: 100vw; height: 100%;">
  <div>
    <md-grid-list cols="40">
      <md-grid-tile
          [colspan]="7"
          [rowspan]="25"
          [style.background]="'white'">

          <div class="full">
            <md-grid-list cols="20">
              <md-grid-tile
                  [colspan]="20"
                  [rowspan]="5"
                  [style.background]="'#4a4a4a'">
                  <span class="logo">
                    AGW ADMIN
                  </span>
              </md-grid-tile>
              <md-grid-tile
                  [colspan]="20"
                  [rowspan]="3"
                  [style.background]="'ghostwhite'">
                  <span class="sub-title full"
                    fxLayoutAlign="start center">
                    <span style="margin-left: 10%;">Overview</span>
                  </span>
              </md-grid-tile>

              <md-grid-tile
                  [colspan]="20"
                  [rowspan]="100"
                  [style.background]="'white'">
                  <span class="actions full"
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    fxLayoutGap="20px">
                    <span *ngFor="let item of actions" class="item">
                      {{item.name}}
                    </span>
                  </span>
              </md-grid-tile>
            </md-grid-list>
          </div>

      </md-grid-tile>
      <md-grid-tile
          [colspan]="33"
          [rowspan]="25">
          <span class="full">
            <md-card
              style="height: 100%;"
              fxLayout="column"
              fxLayoutAlign="space-between none"
              >
              <span>
                <span class="header"
                fxLayout="row"
                fxLayoutAlign="space-between center"
                >
                  <span class="path" [routerLink]="['../overview']"><i class="fa fa-angle-left" aria-hidden="true"></i> &nbsp;Back to Overview </span>

                  <span class="path">
                    Mint
                  </span>

                  <span class="right" fxLayout="row" fxLayoutAlign="center center">
                    <i class="fa fa-bell" aria-hidden="true" style="margin-right: 15px; color: gray"></i>
                    <span fxLayout="row">
                      <span class="u-item" fxLayoutAlign="center center"
                        style="font-size: 20px;"
                      >
                        <i class="fa fa-user" aria-hidden="true"></i>
                      </span>
                      <span class="u-item"
                        fxLayoutAlign="center center"
                        style="background-color: #e9e9e9;"
                      >
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </span>
                  </span>
                </span>
                <div class="mint-title">
                  <header style="width: 100%;"
                  fxLayout="row"
                  fxLayoutAlign="space-between center">
                    <span class="header-left" fxLayout="column">
                      <span class="title">Request Number</span>
                      <span class="value">XXXXXXXXXX04</span>
                    </span>
                    <span class="right" fxLayout="column">
                      <span class="title">Current Status</span>
                      <span class="value">Received Request</span>
                    </span>
                    <span style="margin-right: 8%;" (click)="mint()">
                        <button *ngIf="!mintingFlag" md-raised-button color="primary"> <span style="color: #000;"> Mint </span></button>
                        <button *ngIf="mintingFlag"md-raised-button color="primary" style="background-color: gray;"> <span style="color: #000;"> Minting </span></button>
                    </span>
                  </header>
                </div>

                <div style="margin-top: 3vh;">
                  <span style="font-weight: 500;"> Konw Your Customer </span>
                  <md-card style="margin-top: 1vh;">
                    <div class="card1"
                      fxLayout="row"
                      fxLayoutAlign="space-between start"
                      fxLayoutGap="20px">
                      <span fxLayout="row">
                        <div class="avatar">
                        </div>
                        <span class="left"
                          fxLayout="column"
                          fxLayoutAlign="start start"
                          fxLayoutGap="1vw">

                          <span class="username"> User Name </span>
                          <span class="profile"
                            fxLayout="column"
                            fxLayoutAlign="start start"
                            fxLayoutGap="0.3vw">
                            <span fxLayout="row" style="width: 100%;">
                              <span fxFlex="40" class="key"> Address : </span>
                              <span fxFlex="60" class="val">05X90E7X24305D</span>
                            </span>
                            <span fxLayout="row"  style="width: 100%;">
                              <span fxFlex="40" class="key"> Prof of Address : </span>
                              <span fxFlex="60"  class="val">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</span>
                            </span>
                            <span fxLayout="row" style="width: 100%;">
                              <span fxFlex="40" class="key"> Passport NO : </span>
                              <span fxFlex="60" class="val">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</span>
                            </span>
                            <span fxLayout="row" style="width: 100%;">
                              <span fxFlex="40" class="key"> User ID : </span>
                              <span fxFlex="60" class="val">502378XD8</span>
                            </span>
                          </span>
                        </span>
                      </span>
                      <span class="right">
                        <span class="title">
                          Total Balance
                        </span>
                        <br>
                        <span class="balance">
                          $17,288.29
                        </span>
                      </span>
                    </div>
                  </md-card>
                </div>


                <div class="card2" style="margin-top: 3vh;">
                  <span style="font-weight: 500;"> Request </span>
                  <md-card style="margin-top: 1vh; padding: 0;">
                    <div class="content"
                      fxLayout="row"
                      fxLayoutAlign="space-between start"
                      fxLayoutGap="20px">
                      <span fxFlex="43" fxLayout="row">
                        <div class="avatar">
                        </div>
                        <span class="left"
                          fxLayout="column"
                          fxLayoutAlign="start start"
                          fxLayoutGap="1vw" style="width: 100%;">

                          <span class="profile"
                            fxLayout="column"
                            fxLayoutAlign="start start"
                            fxLayoutGap="0.3vw" style="width: 100%;">
                            <span fxLayout="row" style="width: 100%;">
                              <span fxFlex="25" class="key"> Type : </span>
                              <span fxFlex="75" class="val">Mint Request</span>
                            </span>
                            <span fxLayout="row"  style="width: 100%;">
                              <span fxFlex="25" class="key"> Date : </span>
                              <span fxFlex="75"  class="val">02 Sep 2017 18:37:19</span>
                            </span>
                            <span fxLayout="row" style="width: 100%;">
                              <span fxFlex="25" class="key"> Currency : </span>
                              <span fxFlex="75" class="val">USD</span>
                            </span>
                            <span fxLayout="row" style="width: 100%;">
                              <span fxFlex="25" class="key"> Amount : </span>
                              <span fxFlex="75" class="val">45129.07</span>
                            </span>
                            <span fxLayout="row" style="width: 100%;">
                              <span fxFlex="25" class="key"> Bank : </span>
                              <span fxFlex="75" class="val">BOCHK XXXXXXXXXXX</span>
                            </span>
                            <span fxLayout="row" style="width: 100%;">
                              <span fxFlex="25" class="key"> Payment : </span>
                              <span fxFlex="75" class="val">Wire Transfer</span>
                            </span>
                            <span fxLayout="row" style="width: 100%;">
                              <span fxFlex="25" class="key"> Token : </span>
                              <span fxFlex="75" class="val">USDT</span>
                            </span>
                          </span>
                        </span>
                      </span>
                      <!-- <span fxFlex="57" fxLayout="column" fxLayoutGap="20px" class="right"> -->
                        <span fxFlex="43" class="left"
                          fxLayout="column"
                          fxLayoutAlign="start start"
                          fxLayoutGap="1vw" style="width: 100%;">

                          <span class="profile"
                            fxLayout="column"
                            fxLayoutAlign="start start"
                            fxLayoutGap="0.3vw" style="width: 100%;">
                            <span fxLayout="row" style="width: 100%;">
                              <span fxFlex="25" class="key"> Transfer ID : </span>
                              <span fxFlex="75" class="val">768968722362</span>
                            </span>
                            <span fxLayout="row" style="width: 100%;">
                              <span fxFlex="25" class="key"> Include Code : </span>
                              <span fxFlex="75" class="val">XA5R930L</span>
                            </span>
                            <span fxLayout="row" style="width: 100%;">
                              <span fxFlex="25" class="key"> Verify Date: </span>
                              <span fxFlex="75" class="val">12 Sep 2017 10:45:21</span>
                            </span>
                          </span>
                        </span>
                      <!-- </span> -->
                    </div>
                  </md-card>
                </div>

              </span>
              <div *ngIf="verifyStatus == 1" style="margin-bottom: -24px;" fxLayout="row"  fxLayoutAlign="space-between center" class="success-tips">
                <span fxLayout="row" fxLayoutAlign="center center"  class="left">
                  <span class="icon" fxLayoutAlign="center center">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
                  <span class="tips">
                    System minting... please select complete and go back to overview. Result will be updated on overview shortly.
                  </span>
                </span>

                <span class="right" [routerLink]="['../overview']">
                  <button md-raised-button color="primary"> <span style="color: white;"> Complete </span></button>
                </span>
              </div>
            </md-card>
          </span>

      </md-grid-tile>
    </md-grid-list>
  </div>
</div>
