.overview{
  color: black;
  width: 100vw;
  height: 100vh;
}


.full{
  width: 100%;
  height: 100%;
}

.logo{
  font-size: 1.5vw;
  color: white;
}

.sub-title{
  font-weight: 500;
  border-right: 1px solid gray;
}

.actions{
  border-right: 1px solid gray;
  .item{
    margin-left: 20%;

    &:first-of-type{
      margin-top: 20px;
    }
  }
}

.header{
  display: block;
  border: 1px solid #d8d8d8;
  border-right: none;
  border-left: none;
  border-top: none;
  height: 60px;
  width: 100%;
  .path{
    font-size: 1.5vw;
  }

  .right{
    i{
    }
  }
}

.u-item{
  display: block;
  width: 28px;
  height: 32px;
  border: 1px solid #e9e9e9;
}

.datatable-header .datatable-header-inner{
}


.action-but .mat-raised-button, .mat-primary{
  background-color: #d8d8d8;
}

 .mat-raised-button{
  margin-top: 15px;
  width: 10vw;
  min-width: 150px;
  background-color: #000;
  color: white;
}

.card1{
  .avatar{
    width: 4.5vw;
    height: 4.5vw;
    background-color: #d8d8d8;
    border-radius: 50%;
  }

  .username{
    margin-top: 5%;
    font-size: 1.5vw;
  }

  .profile{
    .val{
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
  }

  .left{
    margin-left: 5%;
    span {
      color: #9c9c9c;
    }

  }

  .right{
    margin-right: 10%;
    margin-top: 1%;

    .title{
      font-size: 12px;
    }

    .balance{
      font-size: 2vw;
    }
  }
}

.card2{
  display: block;
  margin-top: 1vh;

  .content{
    padding: 24px;
  }

  .avatar{
    width: 4.5vw;
    height: 4.5vw;
  }

  .profile{
    .val{
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
  }

  .left{
    margin-left: 5%;
    span {
      color: #9c9c9c;
    }

    .val{
      color: #000;
      font-weight: 500;
    }
  }

  .right{
    margin-left: 10%;

    .input{
      width: 90%;
      height: 40px;
      border: 1px solid gray;
      border-radius: 4px;
      margin-top: 5px;
    }

    input{
      &:focus{
        outline: none;
      }

      font-size: 24px;
      padding-left: 12px;
      letter-spacing:5px
    }

    .title{
      font-size: 12px;
    }

    .balance{
      font-size: 2vw;
    }
  }
}

.success-tips{
  background-color: #9b9b9b;
  min-height: 50px;
  height: 5vh;
  margin-left: -24px;
  margin-bottom: -24px;
  width: calc(100% + 48px);
  display: relative;

  .left{
    margin-left: 6%;
    width: 80%;

    .icon{
      background-color: white;
      height: 3.5vh;
      width: 3.5vh;
      border-radius: 50%;
      display: block;

      i{
        color: lightgreen;
        font-size: 1.5vw;
        font-weight: 100;
      }
    }

    .tips{
      margin-left: 2%;
      width: 100%;
      color: white;
    }
  }

  .right{
    margin-right: 10%;

    button{
      background-color: #4a4a4a;
      margin-top: 0px;
      margin-right: 10%;
    }
  }
}


.mint-title{
  width:  100%;
  margin-top: 20px;

  header{
    background-color: black;
    height: 80px;
    border-radius: 5px;


    .header-left{
      margin-left: 24px;
    }

    .right{
      margin-right: 12%;
    }

    .title{
      font-size: 12px;
      color: white;

    }
    .value{
      font-size: 20px;
      font-weight: 500;
      color: white;

    }
  }

  button{
    background-color: white;
  }
}
