

.wap{
  width: 92vw;
}

.app-name{
  font-size: 2.5vw;
  margin-top: 5vh;
  margin-left: 1vw;
}

.promotions{
  .item{
    width: 28vw;
    height: 18vw;
    border: 1px solid ghostwhite;
    font-size: 2.3vw;
    background-color: #d8d8d8;
  }
}

.split{
  font-size: 1vw;

  .left{
    margin-left: 1vw;
    font-weight: 900;
  }
  .right{
    margin-right: 1vw;
  }
}

.gateways{
  .item{
    width: 29.3vw;
    height: 15vw;
    border: 1px solid ghostwhite;
    font-size: 1vw;
    background-color: #d8d8d8;

    .title{
      font-size: 1.5vw;
    }

  }
}
