<div class="wap">
  <div  fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="3vw">
    <span class="app-name">
      <header>
        OAX
      </header>
    </span>

    <span fxLayoutAlign="center center">
      <div class="promotions" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="3vw">
        <div class="item" fxLayoutAlign="center center">
          <span>Promotions</span>
        </div>
        <div class="item" fxLayoutAlign="center center">
          <span>Promotions</span>
        </div>
        <div class="item" fxLayoutAlign="center center">
          <span>Promotions</span>
        </div>
      </div>
    </span>


    <div fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="1vh">
      <span fxLayout="column" fxLayoutAlign="start none" class="split">
        <div  fxLayout="row" fxLayoutAlign="space-between start">
          <span class="left" > Featured Gateways </span>
          <span class="right" > More >> </span>
        </div>
        <div class="">
          <hr style="width: 100%;">
        </div>
      </span>

      <span fxLayoutAlign="center center">
        <div class="gateways" fxLayout="row" fxLayoutAlign="start none" fxLayoutGap="1vw">
          <md-card class="item" fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="0.5vh"
            [routerLink]="['gateway/detail']"
          >

            <span fxLayout="column" fxLayoutAlign="start start">
              <span class="title"> Gateway A </span>
              <span> Best assets this month </span>
            </span>

            <span fxLayout="row" fxLayoutGap="1.5vw">
              <span src="img" style="width: 6vw; height: 6vw; border: 1px solid gray; border-radius: 50%;"></span>

              <span class="details">
                <div fxLayout="column" fxLayoutAlign="start start">
                  <span > Asset: USD </span>
                  <span > Token: USDT </span>
                  <span > Token issued: 10,000,000 </span>
                  <span > Asset: USD </span>
                  <span > Collateral: 10,000,000 ETH </span>
                </div>
              </span>

            </span>
          </md-card>

          <md-card class="item" fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="0.5vh"
            [routerLink]="['gateway/detail']"
          >

            <span fxLayout="column" fxLayoutAlign="start start">
              <span class="title"> Gateway B </span>
              <span> Best assets this month </span>
            </span>

            <span fxLayout="row" fxLayoutGap="1.5vw">
              <span src="img" style="width: 6vw; height: 6vw; border: 1px solid gray; border-radius: 50%;"></span>

              <span class="details">
                <div fxLayout="column" fxLayoutAlign="start start">
                  <span > Asset: USD </span>
                  <span > Token: USDT </span>
                  <span > Token issued: 10,000,000 </span>
                  <span > Asset: USD </span>
                  <span > Collateral: 10,000,000 ETH </span>
                </div>
              </span>

            </span>
          </md-card>

          <md-card class="item" fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="0.5vh"
          [routerLink]="['gateway/detail']"
          >

            <span fxLayout="column" fxLayoutAlign="start start">
              <span class="title"> Gateway C </span>
              <span> Best assets this month </span>
            </span>

            <span fxLayout="row" fxLayoutGap="1.5vw">
              <span style="width: 6vw; height: 6vw; border: 1px solid gray; border-radius: 50%;"></span>

              <span class="details">
                <div fxLayout="column" fxLayoutAlign="start start">
                  <span > Asset: USD </span>
                  <span > Token: USDT </span>
                  <span > Token issued: 10,000,000 </span>
                  <span > Asset: USD </span>
                  <span > Collateral: 10,000,000 ETH </span>
                </div>
              </span>

            </span>
          </md-card>

        </div>
      </span>
    </div>

    <span fxLayout="column" fxLayoutAlign="start none" class="split">
      <div  fxLayout="row" fxLayoutAlign="space-between start">
        <span class="left" > Featured Gateways </span>
        <span class="right" > More >> </span>
      </div>
      <div class="">
        <hr style="width: 100%;">
      </div>
    </span>
  </div>
</div>
