<md-card style="width: 80vw">
  <div  fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="1vw">
    <span></span>
    <span></span>

    <span class="app-name">
      <header>
        <span [routerLink]="['../../']">OAX</span>
      </header>
    </span>


    <span fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="2vw">
      <div class="detail-list" fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="2vw">
        <span class="left"  fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="1vw">
          <span class="img" style="width: 7vw; height: 7vw; border-radius: 50%; background-color: #d8d8d8;"> </span>
          <div>
            <div class="name">Gateway A</div>
            <span class="desc">Best Assets this month</span>
          </div>

          <br>
        </span>
        <div class="right" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0.8vw">
          <span > Asset: USD </span>
          <span > Token: USDT </span>
          <span > Token issued: 10,000,000 </span>
          <span > Collateral: 10,000,000 ETH </span>
          <span > KYC Level: Boundary </span>
          <br>

          <button md-raised-button color="primary" > <span [routerLink]="['../dashboard']">Depost Funds</span></button>
        </div>

      </div>

      <span>
        Company A is established in 2005, we have been doing Foreign Exchange, bla bla bla, Company A is established in 2005, we have been doing Foreign Exchange, bla bla bla, Company A is established in 2005, we have been doing Foreign Exchange, bla bla bla,
        Company A is established in 2005, we have been doing Foreign Exchange, bla bla bla,Company A is established in 2005, we have been doing Foreign Exchange, bla bla bla,
      </span>

    </span>

    <span></span>
    <span></span>
    <span></span>
    <div class="foot">
      <span class="title" fxLayout="column" fxLayoutAlign="start start">
        <span>Active Trade Pairs( Aginest CNYT): </span>
        <span><hr style="border-width: 2px;"></span>
      </span>

      <span class="table">
        <md-table #table [dataSource]="dataSource" style="width: 60%; overflow: auto; max-height: 300px;">
          <!-- Position Column -->
          <ng-container mdColumnDef="token">
            <md-header-cell *mdHeaderCellDef> Token </md-header-cell>
            <md-cell *mdCellDef="let element"> {{element.token}} </md-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container mdColumnDef="price">
            <md-header-cell *mdHeaderCellDef> Price </md-header-cell>
            <md-cell *mdCellDef="let element"> {{element.price}} </md-cell>
          </ng-container>

          <!-- Weight Column -->
           <ng-container mdColumnDef="volume">
             <md-header-cell *mdHeaderCellDef> Volume </md-header-cell>
             <md-cell *mdCellDef="let element"> {{element.volume}} </md-cell>
           </ng-container>

           <!-- Color Column -->
           <ng-container mdColumnDef="change">
             <md-header-cell *mdHeaderCellDef> Change </md-header-cell>
             <md-cell *mdCellDef="let element"> {{element.change}} </md-cell>
           </ng-container>
           <ng-container mdColumnDef="name">
             <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
             <md-cell *mdCellDef="let element"> {{element.name}} </md-cell>
           </ng-container>

          <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
          <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
      </span>
    </div>
  </div>


</md-card>
