/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@font-face {
  font-family: "futura";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/FuturaPTBook.otf");
}

@font-face {
  font-family: "futura-light";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/FZLTXIHK_0.TTF");
}
@font-face {
  font-family: "futura-bookOblique";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/FZLTXIHK_0.TTF");
}

@font-face {
  font-family: "futura-medium";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/FZLTXIHK_0.TTF");
}


html,body{
  margin: 0;
  height: 100%;
  font-family: futura,"Helvetica Neue",sans-serif;
}

p{
  font-family: futura-light,"Helvetica Neue",sans-serif;
  margin: 0;
}

body{
  color: white;
  font-family: "futura-medium";
}

h1{
  font-family: "futura-medium";
  font-style: normal;
  font-weight: 500;
  @media screen and (max-width: 599px) {
    font-size: 42px;
  }

  @media screen and (min-width: 600px) and (max-width: 959px) {
    font-size: 40px;

  }
  @media screen and (min-width: 960px) {
    font-size: 80px;
  }

}

h2{
  font-family: "futura-bookOblique";
  font-style: italic;
  font-weight: 400;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: white;
}


ul{

  margin: 0;
  li{
    list-style: none;
    color: white;
  }
}

p, span{
  color: black;
  font-family: "/assets/fonts/FZLTXIHK_0.TTF";
}
