<p class="content" fxLayout="column" fxLayoutAlign="center center" style="width: 100%; height: 100%;">
  <md-card fxLayout="column" fxLayoutAlign="center center">
    <md-form-field class="field">
      <input mdInput placeholder="Name">
    </md-form-field>
    <md-form-field class="field">
      <input mdInput placeholder="Phone NO.">
    </md-form-field>

    <button md-raised-button color="primary" > <span class="action"> Send </span></button>
  </md-card>
</p>
